---
---
{% include home-gallery.html %}

        
<nav id="site-navigation" class="main-navigation border-bottom " role="navigation">
	<span class="header-menu-button"><i class="otb-fa otb-fa-bars"></i></span>
	<div id="main-menu" class="main-menu-container panoramic-mobile-menu-standard-color-scheme">
		<div class="main-menu-close"><i class="otb-fa otb-fa-angle-right"></i><i class="otb-fa otb-fa-angle-left"></i></div>
		<div class="main-navigation-inner"><ul id="menu-menu" class="menu"><li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-26"><a href="index.html" aria-current="page">Main</a></li>
<li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="conferences/index.html">Current committees and conferences</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="publications/index.html">Publications</a></li>
<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="former-ph-d-students/index.html">Ph.D. Students</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="other-activities/index.html">Other Activities</a></li>
</ul></div>	</div>
</nav><!-- #site-navigation -->
    
</header><!-- #masthead -->

<script>
    var panoramicSliderTransitionSpeed = parseInt(450);
</script>


<div id="content" class="site-content site-container ">

	
    
	<div id="primary" class="content-area  ">
		<main id="main" class="site-main" role="main">
            
            
			
				
<article id="post-2" class="post-2 page type-page status-publish hentry">

	<div class="entry-content">
		
<p>I use formal methods in different application areas. Currently, I&#8217;m mainly working on formal methods for testing complex systems. In particular, I consider systems with distributed interfaces, with asynchronous communications and with probablistic/time information. I&#8217;m also working on the use of formal methods in user modelling, with an emphasis on collective intelligence. In particular, I&#8217;m interested in the inclusion/addition/adaption of formal methods and economic concepts and systems. I recently started to work on Machine/Deep Learning models, in particular, in V &amp; V activities for these models.</p>



<p>I am the founder of the&nbsp;<a href="http://antares.sip.ucm.es/DTRS">Design and Testing of Reliable Systems research group</a>&nbsp;at the&nbsp;<a href="http://www.ucm.es/">Universidad Complutense de Madrid</a>. The group is currently lead by my colleagues&nbsp;<a href="http://antares.sip.ucm.es/~luis/">Luis Llana</a>&nbsp;and&nbsp;<a href="http://antares.sip.ucm.es/mercedes/">Mercedes G. Merayo</a>.</p>



<p>I am the coordinator of the <a href="https://antares.sip.ucm.es/desafio-cm/">DESAFíO-CM</a> program funded by the Regional Goverment of Madrid. Previously, I was the coordinator of the <a href="http://antares.sip.ucm.es/sicomoro/">SICOMORo-CM</a> and <a href="http://antares.sip.ucm.es/forte-cm/">FORTE-CM</a> programs, </p>



<p>I was the scientific coordinator of the Marie Curie RTN&nbsp;<a href="http://www.int-evry.fr/tarot/">TAROT</a>&nbsp;(Training And Research On Testing). The network coordinator was&nbsp;<a href="http://www-lor.int-evry.fr/~anna/">Ana Cavalli</a>. As one of the network activities, I organized the&nbsp;<a href="http://www.info-ab.uclm.es/tarot/">2nd Tarot Summer School</a>&nbsp;in Toledo, Spain, June 2006, the&nbsp;<a href="http://antares.sip.ucm.es/tarot09/">5th Tarot Summer School</a>&nbsp;in&nbsp;Las Navas del Marqués, Spain, July 2009 and the <a href="https://antares.sip.ucm.es/TAROT22/">17th TAROT Summer School</a> of the Summer School in Ávila, Spain, July 2022.</p>



<p>In this&nbsp;<a href="wp-content/uploads/2019/12/nunez.pdf">interview</a>&nbsp;(in Spanish, by&nbsp;<a href="https://es.wikipedia.org/wiki/Mario_Piattini">Mario Piatinni</a>) I comment on my past and current (2011) research lines.</p>



<p>The&nbsp;DBLP&nbsp;list containing most of my&nbsp;<strong>publications</strong>&nbsp;can be found&nbsp;<a href="https://dblp.uni-trier.de/pers/hd/n/N=uacute==ntilde=ez_0001:Manuel">here</a>. Author copies of my papers can be found&nbsp;<a href="publications/index.html">here</a>.</p>



<figure class="wp-block-image size-full is-resized"><img loading="lazy" src="wp-content/uploads/2022/12/BestPaperAward.jpg" alt="" class="wp-image-297" width="424" height="302" srcset="wp-content/uploads/2022/12/BestPaperAward.jpg 720w, wp-content/uploads/2022/12/BestPaperAward-300x213.jpg 300w" sizes="(max-width: 424px) 100vw, 424px" /></figure>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
			</footer><!-- .entry-footer -->
	
</article><!-- #post-## -->

				
			
		</main><!-- #main -->
	</div><!-- #primary -->

    
<div id="secondary" class="widget-area" role="complementary">
	{% include home-main-photo.html %}<aside id="text-5" class="widget widget_text"><h2 class="widget-title">CONTACT</h2>			<div class="textwidget"><p>Dep. Sistemas Informáticos y Computación<br />
Facultad de Informática<br />
Universidad Complutense de Madrid<br />
C/ Prof. José García Santesmases 9<br />
28040 Madrid, Spain<br />
Tel: +34 91-3947628<br />
e-mail: <a href="mailto:mn@sip.ucm.es">mn@sip.ucm.es</a></p>
</div>
		</aside></div><!-- #secondary -->
    
        

</div><!-- #content -->

<footer id="colophon" class="site-footer" role="contentinfo">
	
	<div class="site-footer-widgets">
        <div class="site-container">
        
                        <ul>
                <li id="media_gallery-3" class="widget widget_media_gallery"><h2 class="widgettitle">I LOOKED LIKE THIS</h2>
{% include home-gallery.html %}
</li>
            </ul>
    		    		
            <div class="clearboth"></div>
        </div>
    </div>
	
	<div class="site-footer-bottom-bar">
	
		<div class="site-container">
			
			<div class="site-footer-bottom-bar-left">

             	Theme by <a href="https://www.outtheboxthemes.com/" rel="nofollow">Out the Box</a> 
             	<p class="last-updated">Last updated on July 24th, 2025</p>                
			</div>
	        
	        <div class="site-footer-bottom-bar-right">
                
	                            
	        </div>
	        
	    </div>
		
        <div class="clearboth"></div>
	</div>
	
</footer><!-- #colophon -->

<script type='text/javascript' src='wp-content/themes/panoramic/library/js/navigationc6bb.js?ver=1.0.86' id='panoramic-navigation-js-js'></script>
<script type='text/javascript' src='wp-content/themes/panoramic/library/js/jquery.carouFredSel-6.2.1-packedc6bb.js?ver=1.0.86' id='panoramic-caroufredsel-js-js'></script>
<script type='text/javascript' src='wp-content/themes/panoramic/library/js/jquery.touchSwipe.minc6bb.js?ver=1.0.86' id='panoramic-touchswipe-js-js'></script>
<script type='text/javascript' src='wp-content/themes/panoramic/library/js/customc6bb.js?ver=1.0.86' id='panoramic-custom-js-js'></script>
<script type='text/javascript' src='wp-content/themes/panoramic/library/js/skip-link-focus-fixc6bb.js?ver=1.0.86' id='panoramic-skip-link-focus-fix-js-js'></script>
<script type='text/javascript' src='wp-includes/js/wp-embed.min080f.js?ver=5.8.2' id='wp-embed-js'></script>

<script src="/assets/js/navigation.js"></script>
</body>

</html>
