<div id="gallery-1"
     class="gallery galleryid-2 gallery-columns-6 gallery-size-full">

{% for photo in site.data.photos.gallery %}

<figure class="gallery-item">
  <div class="gallery-icon {{ photo.orientation }}">
    <img
      src="/assets/photos/{{ photo.file }}"
      class="attachment-full size-full"
      alt="{{ photo.caption | escape }}"
      loading="lazy"
    />
  </div>

  {% if photo.caption and photo.caption != "" %}
  <figcaption class="wp-caption-text gallery-caption">
    {{ photo.caption }}
  </figcaption>
  {% endif %}
</figure>

{% endfor %}

</div>