---
layout: default
title: Publications
permalink: /publications/
---

<h1>Publications</h1>
<!-- publications-introduction -->

<p>
The documents distributed by this server have been provided by the contributing authors
as a means to ensure timely dissemination of scholarly and technical work on a
noncommercial basis. Copyright and all rights therein are maintained by the authors
or by other copyright holders, notwithstanding that they have offered their works
here electronically. It is understood that all persons copying this information
will adhere to the terms and constraints invoked by each author's copyright.
</p>

<p>
These works may not be reposted without the explicit permission of the copyright holder.
</p>

<p>
<a href="/papers/publications.bib">BibTeX file with all publications</a>
</p>


{% assign types = "journal,conference,chapter" | split: "," %}

{% for type in types %}

{% case type %}
{% when "journal" %}
<h2>Journal Publications</h2>
{% when "conference" %}
<h2>Publications in refereed conferences and workshops</h2>
{% when "chapter" %}
<h2>Chapters</h2>
{% endcase %}

{% assign pubs = site.data.publications | where: "type", type %}
{% assign years = pubs | map: "year" | uniq | sort | reverse %}

{% for year in years %}

<h4>{{ year }}</h4>

<ul>

{% assign year_pubs = pubs | where: "year", year %}

{% for pub in year_pubs %}

<li>
{{ pub.authors | escape }}

{% if pub.url and pub.url != "" %}
<a href="{{ pub.url | escape }}">{{ pub.title | escape }}</a>.
{% elsif pub.pdf and pub.pdf != "" %}
<a href="{{ pub.pdf | escape }}">{{ pub.title | escape }}</a>.
{% else %}
{{ pub.title | escape }}.
{% endif %}

{{ pub.details | escape }}

{% if pub.url and pub.url != "" and pub.pdf and pub.pdf != "" %}
<a href="{{ pub.pdf | escape }}">[PDF]</a>
{% endif %}
</li>

{% endfor %}

</ul>

{% endfor %}

{% endfor %}